<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Add Admin</title>

</head>
<body>
    <div class="container">
        

        <form autocomplete='off' class='form' method="POST"action="{{ url_for('add_admin') }}" >
            <div class='control'>
              <h1>
                Add Admin
              </h1>
            </div>
            <div class='control block-cube block-input'>
              <input name='username' placeholder='Username' id="username" type='text'>
              <div class='bg-top'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg-right'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg'>
                <div class='bg-inner'></div>
              </div>
            </div>
            <div class='control block-cube block-input'>
              <input name='password' id="password" placeholder='Password' type='password'>
              <div class='bg-top'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg-right'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg'>
                <div class='bg-inner'></div>
              </div>
            </div>
            <button class='btn block-cube block-cube-hover' type="submit">
              <div class='bg-top'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg-right'>
                <div class='bg-inner'></div>
              </div>
              <div class='bg'>
                <div class='bg-inner'></div>
              </div>
              <div class='text'>
               Submit
              </div>
            </button>
    
          </form>

        <!-- <form method="POST" action="{{ url_for('add_admin') }}">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Add Admin</button>
        </form> -->
    </div>
</body>
</html>
